<% if options[:static_link] %>
  <%= render :layout => "shareable/partials/button_wrapper", locals: {:options => options} do %>
    <%= render "shareable/partials/link", :options => options.merge(:url=>"https://www.facebook.com/sharer.php?u=#{options[:url]}") %>
  <% end %>
<% else %>
  <% unless options[:button_only] %>
    <%= output_once :facebook do %>
      <%= render "shareable/partials/scripts/facebook", :app_id => options[:app_id] %> 
    <% end %>
  <% end %>
  <%= render :layout => "shareable/partials/button_wrapper", locals: {:options => options} do %>
<div class="fb-like"
  <%= html_attributes(options.slice(:url, :send, :layout, :show_faces, :width, :action, :font, :colorscheme, :ref, :share, :kid_directed_site), :data => true) %>
></div>
  <% end %>
<% end %>