<% if options[:static_link] %>
  <%= render :layout => "shareable/partials/button_wrapper", locals: {:options => options} do %>
    <%= render "shareable/partials/link", :options => options.merge(:url=>"https://pinterest.com/pin/create/button/?url=#{options[:url]}&description=#{options[:description]}&media=#{options[:media]}") %>
  <% end %>
<% else %>
  <%= render :layout => "shareable/partials/button_wrapper", locals: {:options => options} do %>
<a data-pin-config="<%= options[:pin_config] %>"
   href="//pinterest.com/pin/create/button/?url=<%= options[:url] %><%= raw('&media=' + options[:media]) unless options[:media].blank? %><%= raw('&description=' + options[:description]) unless options[:description].blank? %>"
   data-pin-do="<%= options[:pin_do] %>" data-pin-shape="<%= options[:pin_shape] %>" data-pin-height="<%= options[:pin_height] %>" data-pin-color="<%= options[:pin_color] %>" >
  <img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" title="<%= options[:title]%>" alt="<%= options[:alt] %>" /></a>
  <% end %>
  <% unless options[:button_only] %>
    <%= output_once :pinterest do %>
      <% if options[:turbolinks] %>
<script>
  var Pinterest;
  Pinterest = {
    load: function() {
      delete window["PIN_" + ~~((new Date).getTime() / 864e5)];
      return $.getScript("//assets.pinterest.com/js/pinit.js");
    }
  };
  $(function() {
    return Pinterest.load();
  });
  $(document).on('page:load', function() {
    return Pinterest.load();
  });
</script>
      <% else %>
        <%= render "shareable/partials/scripts/pinterest" %> 
      <% end %>
    <% end %>
  <% end %>
<% end %>