<% if options[:static_link] %>
  <%= render :layout => "shareable/partials/button_wrapper", locals: {:options => options} do %>
    <%= render "shareable/partials/link", :options => options.merge(:url=>"https://www.tumblr.com/share/link?url=#{options[:url]}&name=#{options[:title]}&description=#{options[:description]}") %>
  <% end %>
<% else %>
  <%= render :layout => "shareable/partials/button_wrapper", locals: {:options => options} do %>
<a href="https://www.tumblr.com/share/link?url=<%= options[:url] %>&name=<%= options[:title] %>&description=<%= options[:description] %>" title="Share on Tumblr" 
style="display:inline-block; text-indent:-9999px; overflow:hidden; width:<%= options[:width] %>px; height:20px; background:url('https://platform.tumblr.com/v1/share_<%= options[:background] %>.png') top left no-repeat transparent; vertical-align:top;" class="tumblr-button">Share on Tumblr</a>
  <% end %>
  <% unless options[:button_only] %>
    <%= output_once :tumblr do %>
      <%= render "shareable/partials/scripts/tumblr" %>
    <% end %>
  <% end %>
<% end %>