<% if options[:static_link] %>
  <%= render :layout => "shareable/partials/button_wrapper", locals: {:options => options} do %>
    <%= render "shareable/partials/link", :options => options.merge(:url=>"https://twitter.com/intent/tweet?url=#{options[:url]}&text=#{options[:text]}&hashtags=#{options[:hashtags]}") %>
  <% end %>
<% else %>
  <% if (options[:turbolinks] && !options[:button_only]) %>
    <%= output_once :twitter do %>
<script src="//platform.twitter.com/widgets.js"></script>
    <% end %>
  <% end %>
  <%= render :layout => "shareable/partials/button_wrapper", locals: {:options => options} do %>
<a href="https://twitter.com/share" class="twitter-share-button"
  <%= html_attributes(options.slice(:url, :via, :text, :related, :count, :lang, :counturl, :hashtags, :size, :dnt), :data => true) %>
>Tweet</a>
  <% end %>
  <% unless (options[:button_only] || options[:turbolinks]) %>
    <%= output_once :twitter do %>
      <%= render "shareable/partials/scripts/twitter" %> 
    <% end %>
  <% end %>
<% end %>